@charset "utf-8";
/* CSS Document */
body,form,div,span,ul,ol,li,p,pre,dl,dt,dd,h1,h2,h3,h4,h5,h6,em,a,fieldset,legend,address,label,textarea,select,input,figure,table,th,td,b,i{margin:0;padding:0;}
body{ font-family: "微软雅黑", arial; font-size:12px;background:#555 url(../images/home/zust/home_bg.jpg) no-repeat center top;}
ul,li{list-style:none;}
em,i{font-style:normal;}
a{text-decoration:none; color:#fff;}
a:hover{ text-decoration:none; color:#fff;}
.clear{ clear:both;}
.clearfix{zoom:1;}
.clearfix:after{clear:both; content:"";display:block;height:0;line-height:0;visibility:hidden;}
.fl{ float:left;}
.fr{ float:right;}
.width960{ width:960px; margin:0 auto; padding-top:150px;}
h1{ font-size:38px; font-weight:normal;}
h2{ font-weight: bold; font-size:18px; text-transform:uppercase;}
h3{ font-size:14px; text-transform:uppercase; font-weight:normal;}

.top{ height:32px; line-height:32px; position:absolute; top:10px; right:10px;}
.reg{ height:32px; line-height:32px; background:#1e2b2e; margin-left:10px;}
.reg:hover{ background:#666;}
.reg a{ color:#fff; text-transform:uppercase; display:block; height:32px; padding:0 15px 0 32px; background:url(../images/home/zust/urse.png) no-repeat 15px;}
.eng{ background:#6eb141; margin-left:10px; position:relative; cursor:pointer;}
.eng:hover{ background:#589c27;}
.eng a.eng{ color:#fff; text-transform:uppercase; padding:0 15px 0 25px; background:url(../images/home/zust/eng.png) no-repeat 5px;}
.eng a.cn{ color:#fff; text-transform:uppercase; padding:0 15px 0 35px;position:absolute; top:32px; left:0; background:#6eb141 url(../images/home/zust/cn.png) no-repeat 15px; height:32px; display:none; z-index:999; border-top:1px solid #fff;}
.eng a.cn:hover{ background:#589c27 url(../images/home/zust/cn.png) no-repeat 15px;}
.eng:hover a.cn{ display:block;}

.bottom{ height:38px; line-height:38px; background:#000; position:fixed; bottom:0; width:100%;}
.left_nav ul{ padding-top:17px; padding-left:30px; display:none;}
.left_nav ul li{ float:left; width:127px; height:6px; background:url(../images/home/zust/line1.png) no-repeat 0 0; cursor:pointer; margin-left:5px;}
.left_nav ul li.active{ background:url(../images/home/zust/line2.png) no-repeat;}
.right_copy dl{ padding-right:30px;}
.right_copy dl dt{ float:left; color:#ccc; text-transform:uppercase;}
.right_copy dl dd{ float:left; width:25px; height:25px; margin-left:5px; margin-top:8px; cursor:pointer; display:none;}
.right_copy dl dd.a1{ background: url(../images/home/zust/bot.png) no-repeat 0 0;}
.right_copy dl dd.a2{ background: url(../images/home/zust/bot.png) no-repeat -31px 0;}
.right_copy dl dd.a3{ background: url(../images/home/zust/bot.png) no-repeat -61px 0;}
.right_copy dl dd.a1:hover{ background: url(../images/home/zust/bot.png) no-repeat 0 -25px;}
.right_copy dl dd.a2:hover{ background: url(../images/home/zust/bot.png) no-repeat -31px -25px;}
.right_copy dl dd.a3:hover{ background: url(../images/home/zust/bot.png) no-repeat -61px -25px;}

.left_c{ width:313px;}
.center_c{ width:313px; margin-left:10px;}
.right_c{ width:314px;}
.logo{ background:#fff url(../images/home/zust/zust_logo.png) no-repeat center; height:145px;}
.apply{ background:#ff9500; border:1px solid #ff9500; height:184px; margin-top:10px;background: rgba(255, 149, 0, 0.85) !important; filter: alpha(opacity=85); padding-top:100px;}
.application{ height:142px; border:1px solid #d21f6f; background:#d21f6f;background: rgba(210, 31, 111, 0.85) !important; filter: alpha(opacity=85); padding-top:70px;}
.online{ background:#65be25; border:1px solid #65be25; height:145px; margin-top:10px;background: rgba(101, 190, 37, 0.85) !important; filter: alpha(opacity=85); padding-top:70px;}
.apply1{ background:#0e5cbd; border:1px solid #0e5cbd; height:110px;background: rgba(14, 92, 189, 0.85) !important; filter: alpha(opacity=85); padding-top:35px;}
.news{ height:232px; padding:20px 30px 30px 30px; background:#1d283b; border:1px solid #1d283b; margin-top:10px;background: rgba(29, 40, 59, 0.85) !important; filter: alpha(opacity=85); position:relative;}
.apply:hover{ background:#ff9500; border:1px solid #ff9500; background: rgba(255, 149, 0, 0.75) !important; filter: alpha(opacity=75);}
.application:hover{ border:1px solid #d21f6f; background:#d21f6f;background: rgba(210, 31, 111, 0.75) !important; filter: alpha(opacity=75);}
.online:hover{ background:#65be25; border:1px solid #65be25;background: rgba(101, 190, 37, 0.75) !important; filter: alpha(opacity=75);}
.apply1:hover{ background:#0e5cbd; border:1px solid #0e5cbd; background: rgba(14, 92, 189, 0.75) !important; filter: alpha(opacity=75);}
.news:hover{ background:#1d283b; border:1px solid #1d283b; background: rgba(29, 40, 59, 0.95) !important; filter: alpha(opacity=95); position:relative;}

dl.box_font{ width:220px; margin:0 auto;}
dl.box_font dt{ float:left;}
dl.box_font dd{ float:left; padding-left:15px;}
dl.box_font dt.pic_bg{ background: url(../images/home/zust/apply.png) no-repeat 0; width:46px; height:70px;}
dl.box_font dt.pic_bg2{ background: url(../images/home/zust/home.png) no-repeat 0; width:46px; height:55px;}
dl.box_font dt.pic_bg3{ background: url(../images/home/zust/oline.png) no-repeat 0; width:46px; height:70px;}
dl.box_font dt.pic_bg4{ background: url(../images/home/zust/top2.png) no-repeat 0; width:46px; height:70px;}

.qh{ position:absolute; height:28px; width:57px; bottom:0px; right:0px;}
.qh_l{ height:28px; width:28px; background:url(../images/home/zust/jt.png) no-repeat 0 -28px; float:left; cursor:pointer;}
.qh_r{ height:28px; width:28px; background:url(../images/home/zust/jt.png) no-repeat -28px 0; float:left; margin-left:1px; cursor: pointer;}
.qh_l:hover{ height:28px; width:28px; background:url(../images/home/zust/jt.png) no-repeat 0 0;}
.qh_r:hover{ height:28px; width:28px; background:url(../images/home/zust/jt.png) no-repeat -28px -28px;}
.news_font dt{ font-size:72px; color:#585e6a; font-family:Arial, Helvetica, sans-serif; font-weight:bold;}
.news_font dd{ font-family:Arial, Helvetica, sans-serif;}
.news_font dd.font_gray{ color:#d1d1d1; line-height:18px; padding-top:10px;}
