/*特色课程banner*/
.bannerpic1{ height:231px; background:#ccc url(../images/page/teacher.jpg) no-repeat center; position:relative;}
.bannerpic2{ height:231px; background:#ccc url(../images/page/SchoolLife.jpg) no-repeat center; position:relative;}
.bannerpic3{ height:231px; background:#ccc url(../images/page/accommodation.jpg) no-repeat center; position:relative;}
.bannerpic4{ height:231px; background:#ccc url(../images/page/Scholarship.jpg) no-repeat center; position:relative;}
.bannerpic5{ height:231px; background:#ccc url(../images/page/service.jpg) no-repeat center; position:relative;}
.bannerpic6{ height:231px; background:#ccc url(../images/page/AboutSchool.jpg) no-repeat center; position:relative;}
.bannerpic7{ height:231px; background:#ccc url(../images/page/News.jpg) no-repeat center; position:relative;}
/*==============内页banner==========*/
.banner_font2{ position:absolute; top:80px; padding:10px 2px 5px 2px; border:1px solid #fff; border-right:none; border-left:none;}
.chinese_font{ font-size:30px; color:#fff; text-shadow: 0px 1px 1px #000;}
.english_font{ text-transform:uppercase; font-size:40px; color:#fff; font-family: Aparajita; text-shadow: 0px 1px 1px #000;}

.banner_qiehuan{ border-bottom:1px solid #e5e5e5; height:30px;}
.banner_qiehuan ul{ clear:both; width:58px; margin:0 auto; padding-top:9px;}
.banner_qiehuan ul li{ width:12px; height:12px; margin:0 3px; background:url(../images/page/gray_icon.png) no-repeat; float:left; cursor:pointer;}
.banner_qiehuan ul li.active{ background:url(../images/page/blue_icon.png) no-repeat;}
/*banner广告*/
.bannerpic{ position:relative;}
.bannerpic .width_1024{}
.bantouming{ background:#fff; filter:alpha(Opacity=70);-moz-opacity:0.7;opacity: 0.7; width:365px; height:191px; position:absolute; top:20px; border-radius:5px; z-index:9; 
position:absolute;}
.banner_news{ padding:20px 40px; width:365px; position:absolute; top:20px;z-index:88;}
.banner_news dl dt{ font-size:20px; font-weight:bold; padding-bottom:10px;}
.banner_news dl dd{ font-size:12px;}
.banner_news dl dd a{ color:#014ea2; height:30px;line-height:30px; padding:5px 0; border-top:1px solid #014ea2; border-bottom:1px solid #014ea2; background:url(../images/page/jiantou3.png) no-repeat right; padding-right:20px;}
.banner_news dl dd a:hover{ text-decoration:none;}

/*内容*/
.page_qiehuan{ height:39px; width:510px; margin:0 auto;}
.page_qiehuan ul{ clear:both;}
.page_qiehuan ul li{ float: left; width:169px; margin-right:1px; background:#e5e5e5; text-align:center; height:39px; line-height:39px; position:relative; cursor:pointer;}
.page_qiehuan ul li:hover{ background:#014ca1; color:#fff;}
.page_qiehuan ul li.noneo2{ margin-right:0;}
.page_qiehuan ul li span{ width:16px; height:7px; background:url(../images/page/pic.png) no-repeat 0 0; position:absolute; display:block; left:45%; display:none;}
.page_qiehuan ul li:hover span{ display:block;}
.page_qiehuan ul li.active{ background:#014ca1; color:#fff;}
.page_qiehuan ul li.active span{ display:block;}

.coure{ margin-top:10px;}
.coure dl{ background:#f6f6f6; border-radius:5px; padding:30px; width:502px; float:left; margin-top:20px;}

.coure dl dt{ width:196px; height:135px; background:#ccc; border-radius:5px; float:left;}

.coure dl dd{ float:left; margin-left:20px; width:225px; font-size:12px;margin-bottom:4px;}/*add zmm*/
.coure dl dd.big_title{padding-bottom:5px;font-size:18px;}/*add zmm*/
.coure dl dd.bent span.btn{ width:107px; height:35px; background:url(../images/page/pic.png) repeat-x 0 -7px; display:block; border:1px solid #d3d3d3;border-radius:5px; float:left; margin-right:10px; margin-top:5px;}/*add zmm*/
.coure dl dd.bent span.btn a{ display:block; color:#333; line-height:35px; background:url(../images/page/jiantou.png) no-repeat 19px 13px; text-indent:30px;}
.coure dl:hover dd.bent span.btn{ background:url(../images/page/pic.png) repeat-x 0 -40px; border:1px solid #014ca1;}
.coure dl:hover dd.bent span.btn a{ text-decoration:none; background: url(../images/page/jiantou2.png) no-repeat 19px 13px; color:#FFF;}

.coure dl dd.bent span.btn2{ width:107px; height:35px; background:url(../images/page/pic.png) repeat-x 0 -7px; display:block; border:1px solid #d3d3d3;border-radius:5px; float:left; margin-right:10px; margin-top:5px;}/*add zmm*/
.coure dl dd.bent span.btn2 a{ display:block; color:#333; line-height:35px; background:url(../images/page/jiantou.png) no-repeat 19px 13px; text-indent:30px;}
.coure dl dd.bent span.btn2:hover{ background:url(../images/page/pic.png) repeat-x 0 -40px; border:1px solid #014ca1;}
.coure dl dd.bent span.btn2 a:hover{ text-decoration:none; background: url(../images/page/jiantou2.png) no-repeat 19px 13px; color:#FFF;}
.coure dl.mgin_none{ margin-right:20px;}

/*公用的二级标题*/
h2{ background:url(../images/public/liune.png) repeat-x bottom;}
h2 span{font-size:28px; font-weight:normal; background:#fff; padding-right:10px; padding-bottom:5px;}
h3{ background:url(../images/public/liune.png) repeat-x bottom;}
h3 span{font-size:24px; font-weight:normal; background:#fff; padding-right:10px;}
