@charset "utf-8";
/*img { display: block; margin: 0 0 15px; }
	a img { border: none; }
	*/
/*-------------------------------------------
    Structure
-------------------------------------------*/
.wrap { margin: 0 auto; }
/*-------------------------------------------
    Carousel
-------------------------------------------
colors:
comp-a: Ivy: 52854c
comp-b: Mortar: 8c8179
comp-c: Indigo: 293352
comp-d: Crimson: a51c30
*/

.carousel { height: 420px; overflow: hidden; background: #262626; float: left; width: 520px; }
.carousel .wrap { position: relative; }
 .carousel .wrap:after, {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
font-size: 0;
}
.slide-caption { position: relative; z-index: 10; float: left; width: 376px; min-height: 280px; padding: 68px 40px 0; background-image: url(../images/vignette.png); background-position: left top; background-repeat: no-repeat; }
.comp-a { background-color: #52854c; }
.comp-b { background-color: #8c8179; }
.comp-c { background-color: #293352; }
.comp-d { background-color: #a51c30; }
.slide-caption h2 { margin-bottom: 32px; color: #fff; font-size: 4.2em; line-height: 1.21; }
.slide-caption h2 a { color: #fff; text-decoration: none; }
.slide-caption h2 a:hover, .slide-caption h2 a:focus { color: #e6eae2; text-decoration: none; }
.slide-callout { width: 900px; }
.slide-callout p { float: left; max-width: 750px; min-height: 19px; margin-bottom: 5px; padding: 9px 20px 6px 14px; background: #fff; background: rgba(255, 255, 255, .9); text-transform: uppercase; color: #363636; font-weight: bold; font-size: 1.2em; line-height: 1.5; }
.slide-callout p:hover { background: #e6eae2; }
.slide-callout p a { color: #363636; text-decoration: none; }
.slide-callout p a:hover, .slide-callout p a:focus { color: #363636; text-decoration: none; }
.slide-callout .more { padding: 0; }
.comp-a .slide-callout .more { background-color: #52854c; }
.comp-b .slide-callout .more { background-color: #8c8179; }
.comp-c .slide-callout .more { background-color: #293352; }
.comp-d .slide-callout .more { background-color: #a51c30; }
.slide-callout .more a { display: inline-block; min-height: 19px; padding: 8px 10px 7px 10px; background: none; color: #fff; text-transform: none; font-weight: normal; font: italic 1.15em Georgia, "Times New Roman", serif; }
.slide-callout .more a:hover, .slide-callout .more a:focus { background: #000; text-decoration: none; color:#fff; }
.carousel-image { position: absolute; right: 0; }
.carousel-item { position: relative; }
.carousel-item-secondary { display: none; }
#hedu_preview .slide-caption h2 { margin-bottom: 32px; color: #fff; font-size: 3.15em; line-height: 1.21; }
#hedu_preview .slide-callout p { float: left; max-width: 750px; min-height: 19px; margin-bottom: 5px; padding: 9px 20px 6px 14px; background: #fff; background: rgba(255, 255, 255, .9); text-transform: uppercase; color: #363636; font-weight: bold; font-size: 0.9em; line-height: 1.5; }
#hedu_preview .slide-callout p.more { padding: 0; }
#hedu_preview .comp-a .slide-callout p.more { background-color: #52854c; }
#hedu_preview .comp-b .slide-callout p.more { background-color: #8c8179; }
#hedu_preview .comp-c .slide-callout p.more { background-color: #293352; }
#hedu_preview .comp-d .slide-callout p.more { background-color: #a51c30; }
/* flat color for headshot variant */
#carousel_slide_headshot { background-image: none; }
/*-------------------------------------------
    Homepage Caraousel
-------------------------------------------*/

* html .carousel { height: 286px !important; }
* html .slide-caption { background-image: none !important; height: 220px; }
* html .carousel-item { height: 286px; }
.comp-b, .comp-b .slide-callout .more { background-color: #8c8179; }
.comp-c, .comp-c .slide-callout .more { background-color: #293352; }
.comp-d, .comp-d .slide-callout .more { background-color: #a51c30; }
.carousel-controls { position: absolute; z-index: 100; left: 149%; bottom: 43px; width: 98px; height: 32px; margin-left: -369px; overflow: hidden; top:25px; }
* html .carousel-controls { bottom: 20px; }
.carousel-controls a { display: block; text-indent: -9999px; background-color: transparent; background-position: 0 0; background-repeat: no-repeat; overflow: hidden; float: left; width: 32px; height: 32px; background-image: url(/resource/home/images/public/controls-carousel.gif); }
.carousel-controls .next { background-position: -99px -32px; border-left: 1px solid #333; }
.carousel-controls .next:hover, .carousel-controls .next:focus { background-position: -99px 0; border-color: #ccc; }
.carousel-controls .previous { background-position: 0 -32px; }
.carousel-controls .previous:hover, .carousel-controls .previous:focus { background-position: 0 0; }
.carousel-controls .pause { background-position: -33px -32px; border-left: 1px solid #333; }
.carousel-controls .pause:hover, .carousel-controls .pause:focus { background-position: -33px 0; border-color: #ccc; }
.carousel-controls .play { position: relative; bottom: auto; left: auto; background-position: -66px -32px; border-left: 1px solid #333; }
.carousel-controls .play:hover, .carousel-controls .play:focus { background-position: -66px 0; border-color: #ccc; }
.carousel .prev-image { position: absolute; left: -978px; top: 0; opacity: 0.2; }
.carousel .next-image { position: absolute; top: 0; right: -522px; opacity: 0.2; }
.slide-caption { min-height: 200px; padding: 68px 40px 80px; }
* html .slide-caption { padding-bottom: 60px; }
