@charset "utf-8";
/* CSS Document */
.center_bg{ background:url(../images/page/centerbg.jpg) repeat;}
.center_nav{ height:82px; line-height:82px; background:url(../images/page/center_icon.png) repeat-x 0 0;-webkit-box-shadow: #777 0px 1px 1px; -moz-box-shadow: #777 0px 1px 1px; box-shadow: #777 0px 1px 1px; behavior: url(/PIE.htc); position:relative;}
.center_logo{ width:238px; height:53px; background:url(../images/page/cneter_logo.png) no-repeat bottom; padding-top:13px;}
.back_to_home{ width:111px; height:32px; line-height:32px; padding:0 23px;  background:url(../images/page/home_bg.png) no-repeat; margin-top:24px;}
.back_to_home a{ background:url(../images/page/login_home.png) no-repeat left; padding-left:22px; color:#333; display:block;}
.login_box{ border:1px solid #cfcfcf;border-radius:5px; width:508px; padding:6px; margin:0 auto; margin-top:50px;}
.login_fff{ background:#fff;border-radius:5px; padding:50px 70px;-webkit-box-shadow: #c4c4c4 0px 1px 2px; -moz-box-shadow: #c4c4c4 0px 1px 2px; box-shadow: #c4c4c4 0px 1px 2px; behavior: url(/PIE.htc);}

.login_fff dl dt{ font-size:24px; font-weight:bold; padding-bottom:20px; text-transform:uppercase;}
.login_fff dl dd{ width:100%; height:33px; line-height:33px; margin-bottom:20px;}
.login_fff dl dd input{ width:100%; border:1px solid #c5c5c5; background:#f6f6f6 url(../images/page/center_icon.png) repeat-x 0 -162px; height:31px; line-height:31px;border-radius:5px; color:#999; text-indent:15px;}
.login_fff dl dd.number span{ width:143px; border:1px solid #c5c5c5; background:#f6f6f6; height:31px;border-radius:5px;}
.login_fff dl dd.number em{ font-size:12px; color:#014587; padding-left:10px;}
.login_fff dl dd.login_btn{ height:40px; line-height:40px; border:1px solid #c26623; font-size:20px; text-transform:uppercase; color:#fff; background: url(../images/page/center_icon.png) repeat-x 0 -82px;border-radius:5px; text-align:center; font-weight:bold;text-shadow: 1px 1px 1px #555; cursor:pointer;}
.login_fff dl dd.login_btn:hover{ background:url(../images/page/center_icon.png) repeat-x 0 -122px;}
.login_fff dl dd.uersname_red input{ border:1px solid #d81111; color:#d81111;}
.login_fff dl dd.uersname_green input{ border:1px solid #21aa0b; color:#333;}