@charset "utf-8";
body,form,div,span,ul,ol,li,p,pre,dl,dt,dd,h1,h2,h3,h4,h5,h6,em,a,fieldset,legend,address,label,textarea,select,input,figure,table,th,td,b,i{margin:0;padding:0;}
body{ font-family:Arial, Helvetica, sans-serif, "微软雅黑"; font-size:14px; color:#333; background:#fff; line-height:18px;}
ul,li{list-style:none;}
em,i{font-style:normal;}
a{text-decoration:none; color:#014587;}
a:hover{color:#014587; text-decoration:underline;}
h1{ font-size:32px; height:50px; line-height:50px; border-bottom:2px solid #c8c8c8; font-weight:normal;}
h1 span{ border-bottom:2px solid #014587; display:block; float:left;}
h2{ font-size:28px; height:35px;border-bottom:1px solid #c8c8c8; font-weight:normal;}
h2 span{ border-bottom:1px solid #014587; display:block; float:left; height:35px;}
h3{ font-size:24px; font-weight:bold; line-height:24px;}
h4{ font-size:18px;}
h5{ padding-bottom:20px; border-bottom:1px solid #e4e4e4; text-transform:uppercase; margin-bottom:20px;}
h5 span{ font-size:24px; line-height:30px; padding-bottom:10px; text-align:center; display:block; font-weight:normal;}
h5 em{ color:#999; text-align:center; display:block; font-weight:normal;}
h6{ font-size:12px;}

.clear{ clear:both;}
.clearfix{zoom:1;}
.clearfix:after{clear:both; content:"";display:block;height:0;line-height:0;visibility:hidden;}

.fl{ float:left;}
.fr{ float:right;}
.bold{ font-weight:bold;}
.width1120{ width:1120px; margin:0 auto;}

a.gray{ color:#333;}
a.gray:hover{ color:#fff; text-decoration: underline;}
a.w{ color:#fff; text-decoration: underline;}
a.w:hover{ color:#fff; text-decoration:none;}

.m40{ margin:40px;}
.m30{ margin:30px;}
.m20{ margin:20px;}
.m10{ margin:10px;}

.mt80{ margin-top:80px;}
.mt70{ margin-top:70px;}
.mt60{ margin-top:60px;}
.mt50{ margin-top:50px;}
.mt40{ margin-top:40px;}
.mt30{ margin-top:30px;}
.mt20{ margin-top:20px;}
.mt10{ margin-top:10px;}

.mr80{ margin-right:80px;}
.mr70{ margin-right:70px;}
.mr60{ margin-right:60px;}
.mr50{ margin-right:50px;}
.mr40{ margin-right:40px;}
.mr30{ margin-right:30px;}
.mr20{ margin-right:20px;}
.mr10{ margin-right:10px;}

.mb80{ margin-bottom:80px;}
.mb70{ margin-bottom:70px;}
.mb60{ margin-bottom:60px;}
.mb50{ margin-bottom:50px;}
.mb40{ margin-bottom:40px;}
.mb30{ margin-bottom:30px;}
.mb20{ margin-bottom:20px;}
.mb10{ margin-bottom:10px;}

.ml80{ margin-left:80px;}
.ml70{ margin-left:70px;}
.ml60{ margin-left:60px;}
.ml50{ margin-left:50px;}
.ml40{ margin-left:40px;}
.ml30{ margin-left:30px;}
.ml20{ margin-left:20px;}
.ml10{ margin-left:10px;}

.p40{ padding:40px;}
.p30{ padding:30px;}
.p20{ padding:20px;}
.p10{ padding:10px;}

.pt80{ padding-top:80px;}
.pt70{ padding-top:70px;}
.pt60{ padding-top:60px;}
.pt50{ padding-top:50px;}
.pt40{ padding-top:40px;}
.pt30{ padding-top:30px;}
.pt20{ padding-top:20px;}
.pt10{ padding-top:10px;}

.pr80{ padding-right:80px;}
.pr70{ padding-right:70px;}
.pr60{ padding-right:60px;}
.pr50{ padding-right:50px;}
.pr40{ padding-right:40px;}
.pr30{ padding-right:30px;}
.pr20{ padding-right:20px;}
.pr10{ padding-right:10px;}

.pb80{ padding-bottom:80px;}
.pb70{ padding-bottom:70px;}
.pb60{ padding-bottom:60px;}
.pb50{ padding-bottom:50px;}
.pb40{ padding-bottom:40px;}
.pb30{ padding-bottom:30px;}
.pb20{ padding-bottom:20px;}
.pb10{ padding-bottom:10px;}

.pl80{ padding-left:80px;}
.pl70{ padding-left:70px;}
.pl60{ padding-left:60px;}
.pl50{ padding-left:50px;}
.pl40{ padding-left:40px;}
.pl30{ padding-left:30px;}
.pl20{ padding-left:20px;}
.pl10{ padding-left:10px;}

/*top*/
.top{ height:35px; line-height:35px; background:#333 url(../images/public/global.png) repeat-x 0 0;}
.top_left{ background:#1f1f1f; border:1px solid #5d5d5d; border-radius:5px; height:21px; line-height:21px; padding:0 12px; margin-top:6px;}
.top_left a{ color:#cecece; background:url(../images/public/home.png) no-repeat left; padding-left:20px; font-size:12px;}
.top_right .login{ color:#999; font-size:12px; margin-right:5px;}
.top_right .login a{ color:#fff; padding:0 5px;}
.language{ text-transform:uppercase; position:relative; width:117px; z-index:999; font-size:12px;}
.language .english{ background:#1f1f1f url(../images/public/english.gif) no-repeat 10px; border:1px solid #5d5d5d; height:21px; line-height:21px;position:absolute; padding:0px 10px 0 38px; left:0px; top:27px; display:none;border-radius:5px;}
.language .english a{ color:#cecece; padding-right:14px;}
.language .english a:hover{ text-decoration:none; color:#fff;}
.language:hover .english{ display:block;}
.language .chinese{ background:#1f1f1f url(../images/public/chinese.gif) no-repeat 10px; border:1px solid #5d5d5d; height:21px; line-height:21px;position:absolute; padding:0px 10px 0 37px; left:0px; top:7px;border-radius:5px;}
.language .chinese a{ color:#cecece; background: url(../images/public/top_icon.png) no-repeat right; padding-right:14px;}
.language:hover .chinese a{ background: url(../images/public/bottom_icon.png) no-repeat right; padding-right:14px;}
.language .chinese a:hover{ text-decoration:none; color:#fff;}

/*nav*/
.nav{ background: url(../images/public/global.png) repeat-x 0 -35px; height:140px;-webkit-box-shadow: #777 0px 1px 1px; -moz-box-shadow: #777 0px 1px 1px; box-shadow: #777 0px 1px 1px; behavior: url(/PIE.htc); position:relative; z-index:99;}
.logo_list{ height:82px;}
.nav_font{ height:58px;}
.left_logo{ width:536px; height:59px; margin-top:19px;}
.right_list{ height:31px; line-height:31px; margin-top:37px;}
.right_list .list_btn{ height:29px; padding:0 13px; background:url(../images/public/global.png) no-repeat 0 -637px; border-top-left-radius:5px 5px;border-bottom-left-radius:5px 5px; border:1px solid #0c3673;}
.right_list .list_btn:hover{ background:url(../images/public/global.png) no-repeat 0 -666px;}
.right_list .list_btn a{ padding-left:20px; background:url(../images/public/nav_btn.png) no-repeat left; text-decoration:none; font-weight:bold; display:block;}
.list_box{ border:1px solid #c5c5c5; background:url(../images/public/global.png) repeat-x 0 -825px; height:29px; line-height:29px; width:216px;border-bottom-right-radius:5px 5px; border-top-right-radius:5px 5px; cursor:pointer; color:#999; text-indent:10px; padding-right:10px; position:relative;}
.list_box span{ background:url(../images/public/up.png) no-repeat right; display:block;}
.list_box:hover span{ background:url(../images/public/up_hover.png) no-repeat right;}
.list_box:hover ul{ display:block;}
.list_box ul{ position:absolute; width:226px; background:#fff; border:1px solid #c5c5c5; left:-1px; display:none; z-index:99;}
.list_box ul li{ padding:6px 0px; border-bottom:1px solid #e7e7e7;}
.list_box ul li:hover{ background:#f6f6f6;}
.list_box ul li a{ display:block;}
.list_box ul li a:hover{ text-decoration:none;}
.nav_font{}
.nav_font ul li{ float:left; position:relative;}
.nav_font ul li a{ padding:0 40.5px; font-size:16px; background: url(../images/public/nav_line.png) no-repeat left; display:block; padding-top:27px; padding-bottom:12px; color:#333;}
.nav_font ul li:hover a{ background:#fff url(../images/public/nav_line.png) no-repeat left; text-decoration:none;}
.nav_font ul li:hover dl{ display:block;}
.nav_font ul li dl{ position:absolute; background:#fff; border:1px solid #014587; top:57px; left:-0px; width:269px; display:none; z-index:999;}
.nav_font ul li dl dd{ line-height:20px; font-size:14px; padding:10px 20px; border-bottom:1px solid #e4e4e4;}
.nav_font ul li dl dd:hover{ background:#f6f6f6;}
.nav_font ul li dl dd:hover a{ background:none;}
.nav_font ul li dl dd a#linenone{ color:#333; padding:0; font-size:14px; background:none;}
.nav_font ul li dl dd a:hover{ background:none;}

/*bottom*/
.bottom{ height:336px; background: url(../images/public/global.png) repeat-x 0 -301px; text-align:center;}
.bottom dl{ width:800px; margin:0 auto; padding-top:80px;}
.bottom dl dt{ font-size:40px; font-weight:bold; text-transform:uppercase;}
.bottom dl dd.bottom_font{ font-size:16px; line-height:24px; padding-top:25px;}
.bottom dl dd.bottom_btn a{ font-size:18px; font-weight:bold; color:#fff; text-transform:uppercase; line-height:40px; height:40px;border:1px solid #0c3673; background:url(../images/public/global.png) repeat-x 0 -696px; display:block; width:147px; margin:0 auto; margin-top:20px;border-radius:5px;text-shadow: 1px 1px 0px #000;}
.bottom dl dd.bottom_btn a:hover{ text-decoration:none; background:url(../images/public/global.png) repeat-x 0 -736px;}

/*copyright*/
.uirdiv{ height:80px;}
.copyright{ height:126px; background:#333 url(../images/public/global.png) repeat-x 0 -175px;}
.copy_logo{ padding-top:39px;}
.bottom_logo{ width:208px; height:47px; background:url(../images/public/bottom_logo.gif) no-repeat; padding-right:12px;}
.bottom_font2{ font-size:12px; color:#b3b3b3; line-height:18px; padding-left:12px; border-left:1px solid #5b5b5b; width:400px;}
.link{ color:#5b5b5b; padding-top:55px;}
.link a{ color:#b3b3b3; font-size:12px; padding:0 5px;}

/*返回头部和二维码*/
.back_to_top{ width:40px; height:81px; position:fixed; right:10px; bottom:10px;}
.QC{ width:40px; height:40px; background:#a9a9a9 url(../images/public/qc.png) no-repeat center; cursor:pointer; position:relative;}
.QC:hover{ background:#14599a url(../images/public/qc.png) no-repeat center;}
.QC:hover .QC_t{ display:block;}
.QC_t{ background:#fff; padding:14px 14px 0 14px; position:absolute; right:53px; bottom:-41px;-webkit-box-shadow: #999 0px 0px 5px; -moz-box-shadow: #999 0px 0px 5px; box-shadow: #999 0px 0px 5px; behavior: url(/PIE.htc); display:none;}
.QC_t i{ text-align:center; line-height:40px; display:block;}
.QC_t em{ display:block; width:9px; height:16px; position:absolute; background: url(../images/public/home_pic.png) no-repeat; left: 183px; top: 142px;}
.arroe{ background:#7e7e7e url(../images/public/arrow_top.png) no-repeat center; width:40px; height:40px; margin-top:1px; cursor:pointer;}
.arroe:hover{ background:#14599a url(../images/public/arrow_top.png) no-repeat center;}