body,form,div,span,ul,ol,li,p,pre,dl,dt,dd,h1,h2,h3,h4,h5,h6,em,a,fieldset,legend,address,label,textarea,select,input,figure,table,th,td,b,i{margin:0;padding:0; font-family: Arial, "微软雅黑";}
body{ font-family:Arial, "微软雅黑"; font-size:0.875em; color:#333; box-sizing:border-box; -moz-box-sizing:border-box;
-webkit-box-sizing:border-box;}
*, *:before, *:after {box-sizing: border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
ol,ul,li{list-style:none;}
em,i{font-style:normal;}
a{text-decoration:none;outline:none;}
a:active {star:expression(this.onFocus=this.blur());} 
a:visited{text-decoration:none;}
a:hover{ text-decoration:underline;}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-variant: normal;}
img{ border:none;}
.clear{ clear:both;}
.clearfix{zoom:1;}
.clearfix:after{clear:both; content:"";display:block;height:0;line-height:0;visibility:hidden;}
/*公共样式*/
.width_1024{ width:1034px; margin:0 auto;  box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.food_wid{width:1155px;}/*add zmm*/
.min{ min-width:1024px; margin:0 auto;}
.max{ max-width:1024px; margin:0 auto;}
.f_l{ float:left;}
.f_r{ float:right;}
.middle{ margin:0px auto;}
@font-face {font-family:Century; src: url('../font-family/CENTURY.TTF');}
a.blue:hover{ color:#024ba0; text-decoration:underline;}
h2{font-size:28px;}
h3{font-size:22px;}
h4{font-size:18px;}
h5{ font-size:16px;}

/*add zmm*/
.mmsh4{line-height: 22px;margin-top: 5px;margin-bottom: 10px;text-align:left;}
.mmsp{line-height: 22px;margin-bottom: 5px;text-align:left;}
.mmsp label{display:inline-block;width:40px;text-align:left;}
.setdelect #select{position: absolute;right: 404px;top: 140px;}
select{ height:35px; border:#d7d7d7 1px solid; color:#999; padding-left:10px;}
.btn_centre select{margin-top:-7px;+margin-top:-35px;}
/*top*/
.top{ height:34px; background:url(../images/public/top.gif) repeat-x; border-bottom:1px solid #d8d8d8;}
.top-signup-out{ height:34px; border-left:1px solid #fff; border-right:1px solid #fff; border-bottom:1px solid #d8d8d8;position:relative;}
.top-signup-in{ height:33px; padding:11px 0px; border-left:1px solid #d8d8d8; border-right:1px solid #d8d8d8; background:url(../images/public/sign-up.gif) repeat-x; vertical-align:middle;}
a.top-login{display:inline-block; float:left; padding:0px 11px; margin-top:0px; font-size:12px; line-height:12px; color:#666666; cursor:pointer;}
a.top-login:hover{ text-decoration:none;}
a.top-login{ text-decoration:none;}
span.xian{display:block; float:left; font-size:10px; height:12px; border-left:1px solid #b8b8b8; border-right:1px solid #fff; width:2px;}
.top-nav{ height:34px; padding:11px 9px 11px 9px; position:relative;font-size:12px; line-height:12px; color:#666; cursor:pointer; z-index:10; text-transform:uppercase;} 
.top-nav:hover{ padding-left:10px; padding-right:10px;}
.Language{ background:url(../images/public/english.png) no-repeat 10px 11px; padding:11px 10px 11px 32px;}
.Language:hover{ background:#fff url(../images/public/english.png) no-repeat 11px 11px; padding:11px 11px 11px 33px;}

/*.en{background:url(../images/public/english.png) no-repeat 11px 11px; padding:11px 11px 11px 33px;}*/
ul#National_flag{ background:url(../images/public/chinese.gif) no-repeat 10px 11px; }
ul#National_flag:hover{ background:#f6f6f6 url(../images/public/chinese.gif) no-repeat 10px 11px;}
ul#National_flag li{padding-left:32px; height:auto;}
ul#National_flag li:hover{}
ul#National_flag li a{ height:auto; background:none; padding-left:0;}

/*国旗对调*/
.Language2{ background:url(../images/public/chinese.gif) no-repeat 10px 11px; padding:11px 10px 11px 32px;}
.Language2:hover{ background:#f6f6f6 url(../images/public/chinese.gif) no-repeat 10px 11px; padding:12px 10px 11px 33px;}
#National_flag2{ background:url(../images/public/english.png) no-repeat 10px 11px; padding:0px 10px 0px 32px;}
#National_flag2:hover{ background:#f6f6f6 url(../images/public/english.png) no-repeat 10px 11px; padding:0px 10px 0px 32px;}
#National_flag2 li{ border-bottom:none;}
#National_flag2 li a{ padding-left:0;}

.top-nav-contact a{ color:#777;}
.top-nav-contact a:hover{ color:#024ba0;}
.top-nav a{ background:url(../images/public/sanjiao.png) no-repeat right 3px; padding-right:13px; display:block; height:34px; color:#777;}
.top-nav a:hover{ background:url(../images/public/sanjiao.png) no-repeat right 3px; color:#777; text-decoration:none;}

.top-nav-contact{height:34px; padding:11px 9px 11px 0px; font-size:12px; line-height:12px; color:#666; cursor:pointer;}
.mg-t-b-11{ margin:11px 0px;}
.top-nav > ul{ position:absolute; z-index:10; top:33px; width:112px; display:none; border-bottom:1px solid #b8b8b8; border-right:1px solid #b8b8b8; border-left:1px solid #b8b8b8; background-color:#fff;}
.mapxian-1{ position:absolute; z-index:0; top:33px; left:0px; width:167px; height:1px; display:none; border-top:1px solid #b8b8b8;}
.top-nav > ul.map{left:-1px; width:170px;}
.top-nav > ul.english{left:-1px;}
.top-nav > ul > li{margin:0px; display:block; border-bottom:1px solid #e0e0e0; cursor:pointer; height:35px; line-height:35px;}
.top-nav > ul > li.noborder{ border-bottom:none;}
.top-nav > ul > li > a{display:block; background-color:#fff; font-size:12px; color:#666; background:none; padding-left:11px;}
.top-nav > ul > li > a:hover{ background:#f6f6f6; text-decoration:none;}
.mg-l-2{ margin-left:4px;}
.logo{ height:107px; padding-top:15px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.logo > a{ display:inline-block; float:left;}
/*global以上的*/
@charset "utf-8";
.width_925 { width:925px; margin:0px auto;}
.user-logo { height:92px; border-bottom:1px solid #d8d8d8; background:url(../images/user/logo-bg.png) repeat-x 0 0;}
.mg_t_16 { margin-top:16px; display:inline-block; float:left; }
.login { background:url(../images/user/top-line.png) no-repeat; height:92px; }
.login > a { display:inline-block; width:91px; height:92px; text-align:center; line-height:92px; color:#333; font-size:18px; text-decoration:none; }
.login > a:hover { text-decoration:none; background:url(../images/user/top-login-hover.png) no-repeat; }
.hover { text-decoration:none; background:url(../images/user/top-login-hover.png) no-repeat; }
a.personal-sign-up { display:inline-block; width:91px; height:92px; text-align:center; line-height:92px; color:#333; font-size:18px; text-decoration:none; }
a.personal-sign-up:hover { text-decoration:none; background:url(../images/user/top-login-hover.png) no-repeat; }
.width-2 { width:2px; }
.login-main { margin-top:80px; background-color:#f6f6f6; }
.login-main-img { padding:0px; height:401px; background:#ccc; width:445px; margin:15px; margin-right:0; background:url(../images/user/login.jpg) no-repeat; }
.login-main-img > img { width:461px; height:351px; }
.login-main-form { padding:40px 70px; +padding:40px 60px;}
.login-main-tips { display:block; width:322px; height:34px; padding:0px 10px 0px 36px; margin-bottom:20px; background-color:#fff5f5; background-image:url(../images/user/icon.png); background-position: 10px 8px; background-repeat:no-repeat; border:1px solid #f3a5a5; line-height:34px; color:#d10000; font-size:12px; }
.mg_b_20 { margin-bottom:20px; }
.form-login > form > ul > li > input { width:322px; height:37px; padding:0px 10px; border:1px solid #d8d8d8; line-height:37px; background-color:#fff; }
.form-login > form > ul > li > input.ft_12 { font-size:12px; color:#999;}
.form-login > form > ul > li > input:focus { border-color: #95C8F1; box-shadow: 0px 0px 4px #95c8f1; }
li.mg_20 { padding:20px 0px; }
.login-remember { display:inline-block; color:#555; font-size:12px; line-height:12px; }
.self-checkbox { margin-right:4px; width:12px; height:12px; background-color:#fff; border:1px solid #d8d8d8; line-height:12px; vertical-align:middle; }
span.inline-xian { font-size:10px; height:12px; margin-left:4px; margin-right:7px; border-left:1px solid #cecece; border-right:1px solid #7d7d7d; width:2px; }
.login-btn { cursor: pointer; display: inline-block; width:324px; height:37px; line-height:37px; background:url(../images/user/btn-login.png) no-repeat; font-size:18px; font-weight:bold; text-align:center; color:#fff; border-radius:5px; border:none; text-transform:uppercase;}
.login-btn:hover { background:url(../images/user/btn-login.png) 0px -63px no-repeat; }
.user-bottom { margin-top:70px; padding-top:28px; padding-bottom:45px; background: url(../images/user/user-bottom.png) no-repeat center 0; text-align:center; color:#777777; font-size:12px; line-height:22px; }
/*findpassword*/
.find-password-main { margin-top:80px; padding:50px 0; border:1px solid #dddddd; border-radius:5px; background-color:#f6f6f6; }
.find-password-title { background:url(../images/user/findpassword-bg.gif) repeat-x; height:38px; line-height:38px; padding-left:20px; border-bottom:1px solid #ddd; border-top-left-radius:5px; border-top-right-radius:5px; text-align:left; }
.find-password-container { margin-top:40px;margin-bottom:40px;text-align:center; }
.find-password-form { margin:0px auto;width: 321px;}
.setcent ul li span{padding-left:27px;display: inline-block;width: 210px;float: left;margin-bottom:5px;text-align: left;}



.find-password-form ul li img{float:left;}
input.tongyong { height:34px; padding:0px 10px; border:1px solid #d8d8d8; line-height:34px; font-size:12px; background-color:#fff; margin-right:10px; color:#999;}
.img-border-findpassword { border:1px solid #ddd; vertical-align:middle; }
.mg_r_10 { margin-right:10px; }
.width_322 { width:322px; }
input.tongyong:focus { border-color: #95C8F1; box-shadow: 0px 0px 4px #95c8f1; }
.width_180 { width:180px; }
/*sign_uo*/
.width_602 { width:462px; margin:0px auto; margin-top:50px; border:1px solid #e4e4e4;}
.sign-up-main {text-align:center; background-color:#f6f6f6; padding:15px 0; }
.sign-up-form { margin:40px auto; }
.sign-up-form > form >ul > li { position:relative; }
.sign-up-right { display:none; position:absolute; width:18px; height:18px; top:8px; right:149px; background:url(../images/user/icon.png) 0px -38px no-repeat; }
.txt-align-left { text-align:left; }
.mg_l_50 { margin-left:-98px; }
.whyCUCAS { display:block; margin-top:20px; padding-left:17px; background:url(../images/user/doublesanjiao.png) 0px 5px no-repeat; font-size:12px; color:#024d9f; margin-left:142px; text-align:left; }
.bg-size { background-size:100% 29px; -moz-background-size:100% 29px; -o-background-size:100% 29px; }
/*success-main*/
.find-password-main { border:1px solid #dddddd; border-radius:5px; background-color:#f6f6f6; text-align:center; }
.success-main-container-1 { margin-bottom:20px; }
.gongxi { height:30px; line-height:30px; vertical-align:top; background:url(../images/user/icon.png) 0px -75px no-repeat; padding-left:35px; font-size:18px; font-weight:bold;display:inline-block; }
.mg-t-10 { margin-top:10px; }
a.success-btn { display:block; width:122px; height:35px; margin:20px auto; border:1px solid #dddddd; border-radius:5px; background:url(../images/user/findpassword-bg.gif) repeat-x; text-align:center; line-height:35px; color:#333; text-decoration:none; }
a.success-btn:hover { background:url(../images/user/uccess-btn-hover.gif) repeat-x; text-decoration:none; }
.success-main-container-2 { width:550px; padding:30px; margin:0 auto; border:1px solid #b7d6a0; background-color:#f5f9f2; text-align:left; }
a.mail-now { color:#ff6600; text-decoration:underline; cursor:pointer; }
a.mail-now:hover { text-decoration:none; }
.xiahuaxian { text-decoration:underline; }
.replay { color:#024da1; text-decoration:underline; }
.replay:hover { text-decoration:none; }
.font-12 { font-size:12px; }
/*�޸ĸ�������*/
.center_geren { background:#f6f6f6; border:#d8d8d8 solid 1px; border-radius:5px; padding:0 0 40px 0; }
.xiugaimima { width:364px; margin:0 auto; }
.xiugaimima ul li textarea { width:322px; height:108px; border: 1px solid #d8d8d8; }
.xiugaimima ul li select { width:322px; }
.xiugaimima ul li.font22 { font-size:18px; padding-bottom:10px; padding-top:40px; }
/*վ����Ϣ*/
.web_news .connews table tr{ line-height:20px;}
.wlko { position:relative; height:35px; }
.titlenews { height:35px; position:absolute; bottom:-1px; }
.titlenews ul { clear:both; }
.titlenews ul a { color:#555; }
.titlenews ul li { float:left; height:35px; line-height:35px; padding:0 30px; border:1px solid #d8d8d8; border-top-left-radius:5px 5px; border-top-right-radius:5px 5px; margin-right:5px; background:#f6f6f6; cursor:pointer; }
.titlenews ul li:hover { background:#fff; }
.titlenews ul li.active { background:#fff; border-bottom:none; }
.connews { border:1px solid #d8d8d8; padding:30px; border-top-right-radius:5px 5px; border-bottom-right-radius:5px 5px; border-bottom-left-radius:5px 5px; }
.connews .danxuan { height:38px; line-height:38px; }
.connews .danxuan span.leftfont { float:left; font-size:12px; color:#777; }
.connews .danxuan span.leftfont input { margin-right:5px; }
.connews .danxuan span.rightfont { float:right; font-size:12px; color:#777; }
.con_con { }
.con_con dl dt { height:38px; background:#00457c; color:#fff; line-height:38px; border-top-left-radius:5px 5px; border-top-right-radius:5px 5px; padding-left:20px; font-size:12px; clear:both; }
.con_con dl dd { height:40px; line-height:40px; border-bottom:1px solid #dddddd; border-top:1px solid #fff; background:#f6f6f6; padding:0 20px; font-size:12px; clear:both; position:relative; }
.con_con dl span { display:block; float:left; }
.con_con dl span.a1 { width:188px; }
.con_con dl span.a2 { width:245px; }
.con_con dl span.a3 { width:325px; }
.con_con dl dd i { position:absolute; width:12px; height:12px; background:url(../images/user/aaa.png) no-repeat; right:25px; top:13px; cursor:pointer; }
.blue { color:#00457c; text-decoration:underline; }
/*��������*/
.connews { clear:both; }
.con_con2 { }
.con_con2 dl dt { font-size:12px; color:#777; clear:both; border-bottom:1px solid #e5e5e5; }
.con_con2 dl dd { font-size:12px; clear:both; border-bottom:1px solid #e5e5e5; clear:both; padding-left:0; }
.con_con2 dl dd:hover { background:#f6f6f6; }
.con_con2 dl span { display:block; float:left; padding:10px 0; line-height:18px; }
.con_con2 dl span.a1 { width:160px; }
.con_con2 dl span.a2 { width:185px; }
.con_con2 dl span.a3 { width:200px; }
.con_con2 dl span.a4 { width:130px; }
.con_con2 dl span.a5 { width:108px; }
.con_con2 dl span.a6 { width:105px; }
.con_con2 dl span.a7 { width:70px; }
.con_con2 dl span.a5 a{display:inline-block;height:28px;line-height: 28px;margin-bottom:7px;text-align: center;border: 1px solid #B90000;background: url('../images/user/red_btn.png') repeat-x scroll 0% 0% transparent;
border-radius: 5px;font-size: 14px;font-weight: bold;width: 114px;}
.con_con2 dl dd.clearfix_list span.a5 a{color: #FFF;}
/*���õĺ�ɫ��ť��ʽ*/
.btnbg { clear:both; height:37px; margin-top:20px; }
.flt { float:left; }
.redbtn { float:right; height:35px; line-height:35px; text-align:center; border:1px solid #b90000; background:url(../images/user/red_btn.png) repeat-x; border-radius:5px; color:#fff; font-size:14px; font-weight:bold; width:124px; }
.redbtn:hover { background:url(../images/user/red_btn.png) repeat-x; filter:alpha(Opacity=80); -moz-opacity:0.8; opacity: 0.8; z-index:100; }
.redbtn a { color:#fff; display:block; }
.redbtn a:hover { text-decoration:none; }
.fl_zl{float:left;}
.fr_sq{float:right;}
.redbtn-middle2 input{ cursor:pointer;height:35px; line-height:35px; text-align:center; border:1px solid #b90000; background:url(../images/user/red_btn.png) repeat-x; border-radius:5px; color:#fff; font-size:14px; font-weight:bold; width:124px; margin:30px auto 20px auto;}
.redbtn-middle {cursor:pointer;height:35px; line-height:35px; text-align:center; border:1px solid #b90000; background:url(../images/user/red_btn.png) repeat-x; border-radius:5px; color:#fff; font-size:14px; font-weight:bold; width:124px; margin:30px auto 20px auto;}
.redbtn-middle:hover { background:url(../images/user/red_btn.png) repeat-x; filter:alpha(Opacity=80); -moz-opacity:0.8; opacity: 0.8; z-index:100; }
.redbtn-middle2 input:hover{ background:url(../images/user/red_btn.png) repeat-x; filter:alpha(Opacity=80); -moz-opacity:0.8; opacity: 0.8; }
.redbtn-middle a { color:#fff; display:block; }
.redbtn-middle a:hover { text-decoration:none; }
h3.cla1 { background:url(../images/public/liune.png) repeat-x bottom; }
h3.cla1 span { font-size:24px; font-weight:normal; background:#fff; padding-right:10px; }
.login-main-form ul li.Change { clear:both; height:10px; }
.login-main-form ul li.Change span img { border:1px solid #d7d7d7; float:left; }
.login-main-form ul li.Change a { line-height:35px; float:left; font-size:12px; color:#014590;}
.sign-up-form ul { width:322px; margin:0 auto; }
.sign-up-form ul li span { text-align:left; }
h2 { padding-bottom:5px; border-bottom:1px dotted #cfcfcf; margin-top:50px; margin-bottom:30px;}
h2 span { font-size:24px; font-weight:normal; background:#fff; padding-right:10px; text-transform:uppercase;}
/*add zmm*/
.cleartit { background:#00457c; border-radius:4px 4px 0px 0px; padding-left:15px; margin-bottom:30x;}
.con_con2 dl dt.cleartit { color:#fff; font-size:12px; font-family:Microsoft YaHei; }
.clearfix_list { border-radius:0px 0px 4px 4px; background:#f6f6f6; margin-bottom:10px; border-bottom:1px solid #c5c5c5; box-shadow: 1px 1px 1px #ececec; }
.con_con2 dl dd.clearfix_list { padding-left:15px; }
.con_con2 dl dd.clearfix_list span a { color:#014ea2; font-size:12px; font-family:Microsoft YaHei; }
.con_con2 dl span.a3 { width:225px; margin-right:10px; }
.cjbox { overflow:hidden; }
.cjtit { color: #fff; font-size: 12px; font-family: Microsoft YaHei; background: #00457c; border-radius: 4px 4px 0px 0px; padding-left: 15px; height:30px; line-height:30px; }
.cjtit p { float:left; text-align:left; }
.wid_160 { width:160px; overflow:hidden; }
.wid_206{width:206px;overflow:hidden;}
.wid_210 { width:210px; overflow:hidden; }
.wid_275 { width:190px; overflow:hidden; }
.forlist { overflow:hidden; }
.forlist li p { float:left; }
.forlist li { border-radius: 0px 0px 4px 4px; background: #f6f6f6; margin-bottom:10px; border-bottom: 1px solid #e5e5e5; box-shadow: 1px 1px 1px #ececec; height:40px; line-height:40px; padding-left: 15px; }
.cjpj { overflow:hidden; padding-left:15px; margin-top:10px; }
.cjpj p { float:left; }
.cjbox h2 {line-height:50px; color:#353631; font-size:16px; background:#e7e7e5; margin-bottom:15px; padding-left:20px; }
/* zjj */
.con_con2 h2, .connews h2 { color: #353631; background: #f6f6f6; padding: 10px 20px; border-radius: 5px; font-size:16px; font-weight:bold; margin-bottom:0; line-height:inherit; border-bottom:none; margin-top:0;}
.con_con2 h2 a { color:#0048a0; text-decoration:underline; }
.con_con2 h2 a:hover{ text-decoration:none;}
.connews h2 a { color:#0048a0; text-decoration:underline; }
.connews h2 a:hover{ text-decoration:none;}
.connews table tr.title2 td { background:#00457c; border: 0px; color: #FFFFFF; }
.shenqingbtn a { display: block; }
/*add zmm*/
.borderbox { background: #f6f6f6; padding:30px;}
.borderbox h2.tithome { background:none; border-bottom:1px solid #d8d8d8; padding-bottom:10px;}
.attentionwrap {/*padding:20px 40px;*/ padding-top:20px; }
.attentionwrap h3 { background:none; padding-bottom:5px;}
.attentionwrap p { overflow:hidden; margin-bottom:20px; line-height:22px; }
.changebox { overflow:hidden; }
.zhuce_cont { overflow:hidden; }
.reg_titel { line-height: 40px; border-bottom: 1px solid #e3e3e3; background: #f3f3f3; font-size: 18px; padding-left: 21px; }
.flt { float:left; }
.frt { float:right; }
.zc_wrap { overflow:hidden; width:502px; margin:20px auto; }
.setmaer { margin-right:10px; }
.showboxd h2 { background:none; text-align:center; padding:25px 25px; }
.showboxd h3 { background:none; font-size: 20px; margin-bottom: 15px; margin-top:20px; font-weight:normal; }
.showboxd p { font-size: 14px; color: #333; line-height:24px; }/*add zmm*/
.hometab { border:1px solid #e4e4e4; background:#f6f6f6; font-size:14px; border-collapse: collapse; border-spacing: 0; }
.hometab td { border-bottom:1px solid #d5d5d5; border-right:1px solid #d5d5d5; padding:10px; line-height:18px; }
.hometab th { border-bottom:1px solid #d5d5d5; border-right:1px solid #d5d5d5; padding:10px; line-height:18px; }
.hometab th { padding: 10px; text-align:left; }
.homejs { padding:0px 40px;overflow:hidden; }
.ydbtn { height:35px; line-height:35px; text-align:center; border:1px solid #b90000; background:url(../images/user/red_btn.png) repeat-x; border-radius:5px; color:#fff; font-size:14px; font-weight:bold; width:100px; }
.ydbtn:hover { background:url(../images/user/red_btn.png) repeat-x; filter:alpha(Opacity=80); -moz-opacity:0.8; opacity: 0.8; z-index:100; }
.ydbtn a { color:#fff; display:block; }
.ydbtn a:hover { text-decoration:none; }
.homelisbox {/* padding:30px;*/ overflow:hidden; }
.boxzq h2, .boxzq h3 { background:none; }
.boxzq p { text-indent:24px; margin-bottom:10px; margin-top:10px;line-height:20px;}
.boxzq p.MsoNormal { margin-bottom:0px; }
.boxzq h2 { border-bottom:1px solid #024BA0; padding-bottom:10px;}
.boxzq h3 { padding:10px 0px; }
.boxzq dl a:hover { text-decoration: underline; color: #0A74B9; }
.boxzq dl a { color: #0A74B9; }
.boxzq dl dd { margin-bottom:3px; }
.forbox { padding:30px; background: #f6f6f6;}
/*.borderwtie { border: #d8d8d8 solid 1px; border-radius: 5px; width:750px; background:#fff; }*/
.boxzq dl dd span { margin-right:3px; }
.ydbtn a:link, .ydbtn a:visited { color:#fff; text-decoration:none; }
/*==============修改头像================*/
.xiugai { margin-top:30px; }
.xiugai .top_pic { border-bottom:1px solid #e9e9e9; padding-bottom:20px; }
.top_box { width:145px; height:145px; margin:0 auto; border:1px solid #d8d8d8; background:#fff url(../images/user/wenjian.png) no-repeat center; }
.top_font { font-size:12px; color:#777; padding-top:10px; width:300px; margin:0 auto; text-align:center; }
.xiugai .gray_btn { border-bottom:1px solid #e9e9e9; padding-bottom:20px; padding-top:20px; }
.neiqianbtn1 { width:145px; margin:0 auto; height:38px; line-height:36px; background: url(../images/user/bgtnkkkkk.gif) repeat-x 0 0; border:1px solid #d8d8d8; text-align:center; }
.neiqianbtn1:hover { background:#fff; }
.neiqianbtn1 a { display:block; color:#555; }
.neiqianbtn1 a:hover { text-decoration:none; }
.xiugai .red_btn { padding-top:20px; }
.neiqianbtn2 { height:38px; line-height:36px; font-size:18px; background: url(../images/user/bgtnkkkkk.gif) repeat-x 0 -36px; width:145px; margin:0 auto; text-align:center; border:1px solid #b90000; }
.neiqianbtn2:hover { background:#e30000; }
.neiqianbtn2 a { color:#fff; font-weight:bold; }
.neiqianbtn2 a:hover { text-decoration:none; }
.urestitle_font { font-size:24px; text-align:left; height:40px; text-transform:uppercase;}
.btn_centre{ width:500px; float:right;}
.btn_centre select{ float:left; width:168px; margin-left:5px; height:28px; line-height:28px; padding:2px 2px 2px 10px;}
#scoreall0{ float: left;}
.hxk_xgg{ float:left;}
/*住宿textaera的样式*/
/*============个人在中心登陆下拉============*/

.login_box{display:none;position:absolute; background:#fff; border:1px solid #00457c; width:300px;left:-3px;top:35px;box-shadow: 1px 1px 3px #d4d4d4;z-index:89;cursor:pointer;}
.login_box dl.germzii{ padding:20px;  height:121px;}
.login_box dl.germzii dt{ width:81px; height:81px; border:1px solid #d8d8d8; float:left;margin-right:15px;}
.germzii dd{line-height:15px;padding-left: 0px;padding-right:5px;}
.login_box dl.germzii dd{ float:left; width:150px;}
dl.germzii dd.name_login{ font-weight:bold; font-size:14px; padding-bottom:5px;}
dl.germzii dd.acotul{ font-size:12px; color:#555;}
dl.germzii dd.uplofin{ height:21px; margin-top:8px;}
dl.germzii dd.uplofin a{/*background:url(../images/user/xdvfdgdfgfg.png) repeat-x 0 -346px;*/ background:#034A9B; padding:3px 8px; background-image: -webkit-linear-gradient(360deg,rgba(255, 255, 255, 0),#0083c7);
background-image: linear-gradient(360deg,rgba(255, 255, 255, 0),#0083c7);/*border:1px solid #d8d8d8; color:#555;*/color:#fff;border-radius:4px;}
dl.germzii dd.uplofin a:hover{ text-decoration:none;background:#023F83;background-image: -webkit-linear-gradient(360deg,rgba(255, 255, 255, 0),#0083c7);
background-image: linear-gradient(360deg,rgba(255, 255, 255, 0),#0083c7);}
ul.list_vvv li{ line-height:40px; height:40px; border-top:1px solid #d2d2d2; padding-left:43px; font-size:12px; cursor:pointer;}
ul.list_vvv li a{ color:#00457c; display:block;}
ul.list_vvv li a:hover{ text-decoration:none;}
ul.list_vvv li.list1{ background:url(../images/user/xdvfdgdfgfg.png) no-repeat 20px 12px;}
ul.list_vvv li.list1:hover{ background:#f6f6f6 url(../images/user/xdvfdgdfgfg.png) no-repeat 20px 12px;}
ul.list_vvv li.list2{ background:url(../images/user/xdvfdgdfgfg.png) no-repeat 20px -68px;}
ul.list_vvv li.list2:hover{ background:#f6f6f6 url(../images/user/xdvfdgdfgfg.png) no-repeat 20px -68px;}
ul.list_vvv li.list3{ background:url(../images/user/xdvfdgdfgfg.png) no-repeat 20px -148px; position:relative;}
ul.list_vvv li.list3:hover{ background:#f6f6f6 url(../images/user/xdvfdgdfgfg.png) no-repeat 20px -148px;}
ul.list_vvv li.list4{ background:url(../images/user/xdvfdgdfgfg.png) no-repeat 20px -227px;}
ul.list_vvv li.list4:hover{ background:#f6f6f6 url(../images/user/xdvfdgdfgfg.png) no-repeat 20px -227px;}
ul.list_vvv li.list3 span{	position:absolute;	width:33px;	height:14px;line-height:14px;color:#fff;font-weight:bold;font-size:12px;background:url(../images/user/xdvfdgdfgfg.png) no-repeat 0 -322px;	padding-left:8px;right:15px;top: 12px;}
#zyj_lj p{line-height:24px;font-size:14px;margin-bottom:15px;margin-top:5px;padding:6px 8px 15px 10px;border:1px dashed #b7d6a0;background:#fff;}
#zyj_lj p span{display:inline-block;height:34px;line-height:34px;background:url(../images/public/contact-fangdajing.png) no-repeat 0px 0px;float: right;
padding-right: 10px;}
#zyj_lj{overflow: hidden;}
.zc_wrap textarea{padding:8px;font-size: 12px;}
#zyj_lj p span a{color: #0048a0;font-size:16px;padding-left:40px;}
#zyj_lj p span a:hover{text-decoration:underline;color: #0048a0;}
#zyj_lj p span a:active{text-decoration: none;color: #0048a0;}


/*个人中心侧栏*/
.center_menu{ width:39px; background:#e9e9e9; position: fixed;z-index:98; right:0; top:0; height:100%;-webkit-box-shadow: #999 0px 0px 5px; -moz-box-shadow: #999 0px 0px 5px; box-shadow: #999 0px 0px 5px; behavior: url(/PIE.htc);/*投影样式*/}
.center_menu ul{ margin-top:150px; border-top:1px solid #d4d4d4;}
.center_menu ul li{ height:50px; line-height:50px; width:40px; position:relative; border-bottom:1px solid #d4d4d4; cursor:pointer;}
.center_menu ul li .tanchu{ position:absolute; height:49px; text-align:center; background:#004882; top:0; right:40px; color:#fff; line-height:18px; width: auto; width:180px; line-height:49px;border-top-left-radius:5px 5px;border-bottom-left-radius:5px 5px; display:none;}
.center_menu ul li:hover .tanchu{ display:block;}

.center_menu ul li.g7{ background: url(../images/public/sub_celan.png) no-repeat 9px 14px;}
.center_menu ul li.g3{ background: url(../images/public/sub_celan.png) no-repeat 9px -460px;}
.center_menu ul li.g1{ background: url(../images/public/sub_celan.png) no-repeat 9px -64px;}
.center_menu ul li.g2{ background: url(../images/public/sub_celan.png) no-repeat 9px -144px;}
.center_menu ul li.g4{ background: url(../images/public/sub_celan.png) no-repeat 9px -228px;}
.center_menu ul li.g5{ background: url(../images/public/sub_celan.png) no-repeat 9px -306px;}
.center_menu ul li.g6{ background: url(../images/public/sub_celan.png) no-repeat 9px -388px;}

.center_menu ul li.g7:hover{ background:#004882 url(../images/public/sub_celan.png) no-repeat -170px 14px;}
.center_menu ul li.g3:hover{ background:#004882 url(../images/public/sub_celan.png) no-repeat -168px -460px;}
.center_menu ul li.g1:hover{ background:#004882 url(../images/public/sub_celan.png) no-repeat -168px -64px;}
.center_menu ul li.g2:hover{ background:#004882 url(../images/public/sub_celan.png) no-repeat -168px -144px;}
.center_menu ul li.g4:hover{ background:#004882 url(../images/public/sub_celan.png) no-repeat -168px -228px;}
.center_menu ul li.g5:hover{ background:#004882 url(../images/public/sub_celan.png) no-repeat -168px -306px;}
.center_menu ul li.g6:hover{ background:#004882 url(../images/public/sub_celan.png) no-repeat -168px -388px;}

.center_menu ul li.g1.active{ background:#004882 url(../images/public/sub_celan.png) no-repeat -168px -64px;}
.center_menu ul li.g7.active{ background:#004882 url(../images/public/sub_celan.png) no-repeat -170px 14px;}
.center_menu ul li.g3.active{ background:#004882 url(../images/public/sub_celan.png) no-repeat -168px -460px;}
.center_menu ul li.g2.active{ background:#004882 url(../images/public/sub_celan.png) no-repeat -168px -144px;}
.center_menu ul li.g4.active{ background:#004882 url(../images/public/sub_celan.png) no-repeat -168px -228px;}
.center_menu ul li.g5.active{ background:#004882 url(../images/public/sub_celan.png) no-repeat -168px -306px;}
.center_menu ul li.g6.active{ background:#004882 url(../images/public/sub_celan.png) no-repeat -168px -388px;}
/*add zmm*/
.engmodel ul > li{padding-right:10px;}
.engmodel ul > li > dl{width:220px;}

/*个人中心返回头部*/
.back_top{ position:fixed; bottom:0; right:0; width:39px; height:39px; background: url(../images/public/login_top.jpg) no-repeat 0 0; cursor:pointer;}
.back_top:hover{ background: url(../images/public/login_top.jpg) no-repeat 0 -39px;}
.back_top a{ display:block; width:39px; height:39px;}
.paginator{padding:10px 0 10px;white-space:nowrap;text-align:right;font-size:12px;}
.paginator li{display:inline;margin:0 1px;*vertical-align:middle;}
.paginator li.current{*height:24px;margin:0 6px;font-weight:bold;*line-height:24px;}
.paginator li a{*display:inline-block;*height:22px;padding:3px 6px 4px;*padding:0 6px;border:1px solid #bbb;text-decoration:none;*line-height:22px;*position:relative;}
.paginator li a:hover{*height:24px;padding:4px 7px 5px;*padding:0 7px;border:none;*line-height:24px;background:#9F001A;color:#fff;text-decoration:none;}
.paginator li a.nolink{color:#ccc;cursor:default;}
.paginator li a.nolink:hover{background:transparent;*height:22px;padding:3px 6px 4px;*padding:0 6px;border:1px solid #ccc;*line-height:22px;}

/*新增样式*/
.atuo_w{ width:462px; margin:0 auto; margin-top:50px; border:1px solid #e4e4e4;}
.form-login > form > ul > li > input.hideinput2{ color:#999;}
.form-login > form > ul > li > input.form-ft_12{ color:#999;}
.sign-up-form > form >ul > li.Change2 a{ color:#014590; font-size:12px;}
